<div class="tasks-container" *ngIf="tasks && tasks.length > 0; else noTasks">
  <div class="task-item-container" *ngFor="let task of tasks">
    <app-task-item
      [task]="task"
      (statusChange)="updateTaskStatus($event)"
      (taskClone)="cloneTask($event)"
      (taskDelete)="deleteTask($event)"
    ></app-task-item>
  </div>
</div>

<ng-template #noTasks>
  <div class="no-tasks-msg">
    <img src="assets/newtask.png" alt="No tasks" class="no-tasks-img" />
    <p>No tasks available at the moment. Why not create a new one?</p>
  </div>
</ng-template>

<button class="add-task-btn" (click)="addNewTask()">+ Add New Task</button>
